  <div id="admin">
    <toolbar class="foo" :hide="hide"></toolbar>
    <div class="reviewbox" :class="{hide: isAddMovie}">
      <input class="movieTitle"  v-model="movie_title" placeholder="Title">
      <input class="imageURL" v-model="image_url" placeholder="Link to Image">
      <textarea class="movieDescription"  v-model="movie_description" placeholder="Description"></textarea>
      <div class="genre-list">Select Genres
          <div v-for="genre in filtersMenu" class="checks">
          <label class="container">
              <input type="checkbox" v-model="filters[genre.model]">
              {{genre.label}}
          </label>
          </div>
        </div>
      <button class="submit" @click="onPublishMovie()">Submit</button>
    </div>
  </div>