.modal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-top: 100px; /* Location of the box */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  //background-color: rgb(0, 0, 0); /* Fallback color */
  //background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  background-color: rgba(83, 109, 254, 0.9);
  .movie {
    margin: 12px 40px 12px 40px;
    display: grid;
    grid-template-areas:
      "close add add"
      "title title title"
      "poster desc desc"
      "poster empty genres"
      "poster empty genres"
      "labelrating rating rating"
      "text text text"
      "nothing nothing button";
    grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
    grid-template-rows:
      0.5fr 35px fit-content(100%) fit-content(100%) fit-content(100%)
      45px 100px 35px;
    grid-gap: 18px;
    background-color: #eeeeee;
    padding: 40px 40px 40px 40px;

    /* The Close Button */
    .close {
      grid-area: close;
      color: #536dfe;
      font-weight: bold;
      transition: 0.3s;
      align-self: flex-start;
      justify-self: flex-start;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    img {
      width: 100px;
      grid-area: poster;
    }
    .title {
      grid-area: title;
      justify-self: center;
      align-self: center;
      font-size: 1.2em;
      font-weight: bold;
    }
    .description {
      text-align: left;
      margin-left: 15px;
      grid-area: desc;
    }
    .genres {
      text-align: right;
      font-style: italic;
      font-size: 0.8em;
      grid-area: genres;
    }
    button {
      grid-area: button;
      justify-self: right;
      align-self: flex-end;
    }
    .label-rating {
      grid-area: labelrating;
      font-size: 1.3em;
      justify-self: left;
    }
    .stars {
      grid-area: rating;
      justify-self: left;
      font-size: 1.5em;
      color: #ffd500;
    }

    .reviewtext {
      font-size: 1.2em;
      grid-area: text;
    }
  }
}
